$appHeaderHeight: 60px;
$appFooterHeight: 40px;

// Device

$largeDeviceWidth: 1024px;
$largeDeviceWidthPlusOne: 1025px;

$mediumDeviceWidth: 850px;

.pageWrapper-large {
  width: 100%;
  max-width: 1264px;
  padding: 0 64px;
  margin: 0 auto;
}
@media (max-width: 850px) {
  .pageWrapper-large {
    padding: 0 40px;
  }
}
@media (max-width: 550px) {
  .pageWrapper-large {
    padding: 0 15px;
  }
}
.pageWrapper-medium {
  width: 100%;
  max-width: 964px;
  padding: 0 60px;
  margin: 0 auto;
}
@media (max-width: 850px) {
  .pageWrapper-medium {
    padding: 0 40px;
  }
}
@media (max-width: 550px) {
  .pageWrapper-medium {
    padding: 0 15px;
  }
}
.pageWrapper-small {
  width: 100%;
  max-width: 630px;
  padding: 0 40px;
  margin: 0 auto;
}
@media (max-width: 550px) {
  .pageWrapper-small {
    padding: 0 15px;
  }
}
