@import 'assets/css/colors';
@import 'assets/css/typography';

$appHeaderHeight: 60px;
$appFooterHeight: 40px;
$appFooterHeightPhone: 60px;

// Device
$largeDeviceWidth: 1024px;
$mediumDeviceWidth: 768px;
$smallDeviceWidth: 576px;

// Font
.textFont {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.displayFont {
  font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

// Layout Wrapper

.pageWrapper-large {
  width: 100%;
  max-width: 1264px;
  margin: 0 auto;
}

.pageWrapper-medium {
  width: 100%;
  max-width: 964px;
  margin: 0 auto;
}


.pageWrapper-small {
  width: 100%;
  max-width: 630px;
  margin: 0 auto;
}

// Basic Card Style

.card {
  position: inherit;
  background: $twWhite;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-property: box-shadow;

  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}

.card-title {
  font-weight: $twSemiBold;
  color: $twGrayDark;
  font-size: 1.4em;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid $twGrayLighter;
}

.card-info-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .label {
    font-size: 0.9em;
    color: $twGrayDark;
    font-weight: $twBold;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
  }

  .value {
    font-size: 1em;
    color: $twGrayDark;
  }
}


// desktop
@media screen and (min-width: $mediumDeviceWidth) {
  .pageWrapper-large {
    padding: 0 64px;
  }
  .pageWrapper-medium {
    padding: 0 60px;
  }
  .pageWrapper-small {
    padding: 0 40px;
  }
}

// tablet
@media screen and (max-width: $mediumDeviceWidth - 1) {
  .pageWrapper-large {
    padding: 0 40px;
  }
  .pageWrapper-medium {
    padding: 0 40px;
  }
  .pageWrapper-small {
    padding: 0 40px;
  }
}

// phone
@media screen and (max-width: $smallDeviceWidth - 1) {
  .pageWrapper-large {
    padding: 0 15px;
  }
  .pageWrapper-medium {
    padding: 0 15px;
  }
  .pageWrapper-small {
    padding: 0 15px;
  }
  .card {
    margin-left: calc(15px * -1);
    margin-right: calc(15px * -1);
    border-radius: 0px;
  }
}

