// Definition
$twBlack: #000000;
$twGray: #4a4a4a;
$twGrayLight: #9b9b9b;

// Usage
$backgroundColorLight: #f6f6f6;
$titleColor: $twBlack;
$strongTextLinkColor: #474c5a;
$normalTextLinkColor: #2d8cf0;
