// Definition
$twBlack: #000000;
$twWhite: #ffffff;
$twGray: #4a4a4a;
$twGrayLight: #9b9b9b;
$twGrayLighter: #f5f5f5;
$twIron: #7b8694;
$twIronLight: #939fae;
$twBlue: #4b8fea;
$twBlueLighter: #90caff;
$twBlueDark: #0f82b9;
$twCyanLighter: #50d1e3;
$twIndigo: #3e57c1;
$twIndigoLight: #7baafe;
$twPurple: #7987fe;
$twPurpleLight: #c1c6fe;
$twRed: #e73a48;
$twYellow: #eebd47;

// Usage
$backgroundColorLight: $twGrayLighter;
$titleColor: $twBlack;
$strongTextLinkColor: $twGray;
$normalTextLinkColor: $twBlue;
