// Definition
$twBlack: #000000;
$twWhite: #ffffff;
$twGray: #4a4a4a;
$twGrayDark: #111111;
$twGrayLight: #9b9b9b;
$twGrayLight2: #e1e1e1;
$twGrayLighter: #f5f5f5;
$twGrayLightest: #f8f9fa;
$twIron: #7b8694;
$twIronLight: #939fae;
$twBlue: #4b8fea;
$twBlueLighter: #90caff;
$twBlueLightest: #e7f5ff;
$twBlueDark: #0f82b9;
$twCyanLighter: #50d1e3;
$twIndigo: #3e57c1;
$twIndigoLight: #7baafe;
$twPurple: #7987fe;
$twPurpleLight: #c1c6fe;
$twRed: #e73a48;
$twYellow: #fcc419;
$twOrange: #ffab00;
$twGreen: #40c057;

// Usage
$backgroundColorLight: $twGrayLighter;
$titleColor: $twBlack;
$strongTextLinkColor: $twGray;
$normalTextLinkColor: $twBlue;
