body {
  font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
  color: #34495e;
  overflow-y: scroll;
}

a:hover,
a {
  text-decoration: none;
}
